@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;200;300;400;500;600&family=Oswald:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* -------------------------------------------------navbar------------*/

nav {
    background: var(--dark)
}

.navbar-brand {
    font-family: "oswald" , sans-serif;
    font-size: 1.5em;
    color:var(--white);
}

nav a:hover {
    color: var(--white);
}

#active {
  color: var(--white);
  text-decoration: underline;
}

.nav-link {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 400;
    font-size: 1.5em;
    color: var(--grey);
}

.custom-toggler {
  color: var(--white);
  font-size: 40px;
}

.custom-toggler:active {
  color: var(--red);
  font-size: 42px;
  transition: all 0.2s ease-in-out;
}

/* -------------------------------------------------colour functions------------*/

:root {
    --dark: #19191b;
    --white: #F1F0E9;
    --grey: #AFAFA7;
    --orange: #FB9C42;
    --red: #83423c;
  }

/* -------------------------------------------------general styles------------*/

body {
  color: var(--white);
  background-color: var(--dark);
}

p {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  padding: 1rem;
  font-family: "Barlow Condensed" , sans-serif;
}

h1 {
  font-size: 3rem;
  font-family: "Oswald" , sans-serif;
  font-weight: 500;
  padding: 1rem;
  margin-bottom :0;
}

h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.4rem;
}

.hr-bar {
  border: 2px solid var(--red);
  margin-left: auto;
  margin-right: auto;
  width: 140px;
}

.text-center {
  text-align: center;
}

.topnav {
  display: none;
}

/* -------------------------------------------------effects/scrolling------------*/

html {
  scroll-behavior: smooth;
}

.scroll-arrow {
  font-size: 60px;
  text-align: center;
  margin-top: 10px;
}

.scroll-arrow i {
  color: var(--red);
}

.scroll-arrow i:hover {
  font-size: 75px;
  transition: .2s ease-in-out;
}

.image-container:hover {
  transform: scale(1.3,1.3);
  transition: .2s ease-in-out;
}

.text {
  color: white;
  font-family: "Oswald" , sans-serif;
  font-weight: 700;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  text-align: center;
  text-transform: uppercase;
  padding: 0;
  margin-bottom: 0;
}

.text:hover {
  opacity: 1;
}

/* -------------------------------------------------hero image------------*/

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.9)), url(../images/skyhammer1.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
/* -------------------------------------------------callout container------------*/

.callout-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 125px 25px 125px;
}

.callout-text-block {
  width: 90%;
  height: 90%;
  align-items: center;
}

.callout-text {
  font-family: "Oswald" , sans-serif;
  font-weight: 400;
  font-size: 4.5em;
  color: var(--white);
}

.home-contact-button {
  color: var(--dark);
  background-color: var(--orange);
  border: 1px solid var(--orange);
  border-radius: 0.25rem;
  margin: 1rem;
  width: 100%;
  height: 60px;
  font-family: "oswald" , sans-serif;
  font-size: 2rem;
  display: inline;
}

.home-contact-button:hover {
  color: var(--orange);
  background-color:transparent ;
  border-color: var(--orange);
}

/* -------------------------------------------------about section------------*/

.about-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
}

.about-section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.9)), url(../images/skyhammer3.webp);
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

.about-bio {
  font-family: 'Barlow Condensed', sans-serif;
  color: var(--light);
  text-align: justify;
  width: 30rem;
}

.bio-image {
  max-width:100%;
  max-height:100%;
  padding: 1rem;
}

.bio-image img {
  max-width:100%;
  max-height:100%;
  border-radius: 5%;
}

/* -------------------------------------------------Portfolio Page------------*/

.portfolio-text p {
  margin: 0;
  text-align: center;
}

.portfolio-bg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.9)), url(../images/skyhammer1.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.portfolio-text a{
  color: var(--orange);
}

.portfolio-text a:hover, 
.portfolio-text a:visited, 
.portfolio-text a:link, 
.portfolio-text a:active {
  text-decoration: none;
}

/* -------------------------------------------------Portfolio Grid------------*/

.grid-container {
  display:grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 10px;
  padding: 10px;
}

.grid-container img {
  width: 100%;
  border-radius: 1px;
}

.grid-wrapper {
  display: grid;
}

.text p {
  padding: 0;
  margin: 0;
}

.text-invert {
  color: var(--dark);
}

/* -------------------------------------------------contact page------------*/

.contact-container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.2)),url(../images/skyhammer2.webp);
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;;
  margin-right: auto;
  margin-left: auto;
  padding: 2rem;
  width: 100%;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 1.2rem;
}

.contact-form {
  background-color: rgba(0, 0, 0, 0.8);
  max-width: 500px;
  margin-right: auto;
  margin-left: auto;
  padding: 1.5rem;
  border-radius: 1%
}

label {
  width: 90%;
  display: block;
  margin-top: 5px;
}

.text-input {
  text-decoration: none;
  width: 100%;
  background-color: transparent;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  color: var(--white);
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.text-input:hover {
  border: 1px solid var(--orange);
  border-radius: 0.25rem;
}

.contact-form h2 {
  font-family: "oswald" , sans-serif;
  padding: 20px;
}

.form-radio {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  margin-bottom: 30px;
}

.input-radio {
  min-height: 1.1rem;
  min-width: 1.1rem;
  margin-right: 1px;
  margin-left: 1px;
  width: 50%;
}

textarea {
  outline: none;
}

.input-text-area {
  width: 100%;
  min-height: 250px;
  margin-bottom: 3px;
  background-color: transparent;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  color: var(--white);
  padding: 5px;
  resize: none;
}

.input-text-area:hover {
  border: 1px solid var(--orange);
  border-radius: 0.25rem;
}

.contact-button {
  color: var(--dark);
  background-color: var(--orange);
  border: 1px solid var(--orange);
  border-radius: 0.25rem;
  margin-top: 30px;
  width: 100%;
  font-family: "oswald" , sans-serif;
}

.contact-button:hover {
  color: var(--orange);
  background-color:transparent ;
  border-color: var(--orange);
}

input[type=text], 
[type=email]:focus {
  outline: none;
}

/* -------------------------------------------------submit page------------*/

.submit-container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.2)),url(../images/skyhammer2.webp);
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: auto;
  margin-left: auto;
  padding: 15rem 2rem;
  height: 100%;
}

.submit-bg {
  background-color: rgba(0, 0, 0, 0.8);
  max-width: 500px;
  margin-right: auto;
  margin-left: auto;
  padding: 5rem;
  border-radius: 1%
}

.submit-page-button {
  background-color: var(--orange);
  border: 1px solid var(--orange);
  border-radius: 0.25rem;
  margin-top: 30px;
  max-width: 30rem;
  min-width: 10rem;
  height: 60px;
  font-family: "oswald" , sans-serif;
  font-size: 2rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.submit-page-button a {
  text-decoration: none;
  color: var(--dark);
  font-size: 1.6rem;
}

.submit-page-button:hover {
  color: var(--orange);
  background-color:transparent ;
  border-color: var(--orange);
}

/* -------------------------------------------------footer------------*/

.footer-styles {
  clear: both;
  background-color: var(--dark);
}
  
.social-networks {
  text-align: center;
}

.social-networks li {
  display: inline;
}

.social-networks i {
  font-size: 160%;
  margin: 1%;
  padding: 10px;
  color: var(--grey);
}

.social-networks i:hover {
  opacity: 0.8;
}

.social-networks a:hover, 
.social-networks a:visited, 
.social-networks a:link, 
.social-networks a:active {
  text-decoration: none;
} 

.copyright p {
  font-family: sans-serif;
  font-weight: 100;
  font-size: 1rem;
  color:var(--grey);
  text-align: center;
  margin: 0;
}

footer ul {
  margin: 0;
}

/* -------------------------------------------------media queries------------*/

/* Home Page*/

/* to remove elements from flex and align left*/
@media screen and (min-width: 481px) {
  .callout-container {
    display: block;
  }

  .contact-button {
    transition: 0.5s ease-in-out;
  }

  .home-contact-button {
    width: 16rem;
    transition: 0.5s ease-in-out;
  }

  .callout-text {
    font-size: 6rem;
  }

  .about-section {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    clear: both;
  }

  p {
    font-size: 1.4rem;
  }

}

@media screen and (min-width: 781px) {
  .callout-container {
    display: block;
  }

  .home-contact-button {
    width: 16rem;
  }

  .callout-text {
    font-size: 8rem;
  }

  .about-section {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    clear: both;
    }
  
  p {
    font-size: 1.6rem;
  }
  }

@media screen and (min-width: 1021px) {
  .callout-container {
    display: block;
  }

  .home-contact-button {
    width: 16rem;
  }

  .callout-text {
    font-size: 10rem;
  }

  .about-section {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    clear: both;
    }
  
  p {
    font-size: 1.8rem;
  }
  }

/* Portfolio Page changes for different screen sizes */
@media screen and (min-width: 781px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1021px) {
  .grid-container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}

@media screen and (max-width: 1020px) { /* Large Desktop */ }
@media screen and (max-width: 780px) { /* tablet */ }
@media screen and (max-width: 480px) { /* mobile */ }