@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;200;300;400;500;600&family=Oswald:wght@200;300;400;500;600;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* -------------------------------------------------navbar------------*/

nav {
    background: var(--dark)
}


.navbar-brand {
    font-family: "oswald" , sans-serif;
    font-size: 1.5em;
    color:var(--white);
}

a:hover {
    color: var(--white);
}


.nav-link {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 400;
    font-size: 1.5em;
    color: var(--grey);
}

.fa-play:hover {
  color: var(--orange);
}

/* -------------------------------------------------colour functions------------*/

:root {
    --dark: #19191b;
    --white: #F1F0E9;
    --grey: #888786;
    --orange: #d39447;
    --red: #714844;
  }

/* -------------------------------------------------general styles------------*/


/* -------------------------------------------------hero image------------*/

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)), url(/assets/images/skyhammer1.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
/* -------------------------------------------------callout container------------*/

.callout-container {
    width: 100%;
}

.callout-text-block{
    padding-left: 50px;
    padding-top: 200px;
    max-width: 90%;
}

.callout-text {
    font-family: "Oswald" , sans-serif;
    font-weight: 400;
    font-size: 4.5em;
    color: var(--white);
}

.btn {
    color: var(--white);
    background-color: var(--orange);
    border-color: var(--orange);
    margin-top: 30px;
    margin-bottom: 100px;
    max-width: 90%;
    min-width: 200px;
    font-family: "oswald" , sans-serif;
    align-items: center;
}

.btn:hover {
    color: var(--orange);
    background-color:transparent ;
    border-color: var(--orange);
}

/* -------------------------------------------------about container------------*/
.about-section {
  background-color: var(--dark);
  overflow: hidden;
  clear: both;
}

.container {
  display: flex;

}

.about-bio {
  font-family: 'Barlow Condensed', sans-serif;
  color: var(--white);
  margin-top: 50px;
  margin-left: 50px;
}

.bio-image {
  padding: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
  max-width: 50%;
}
/* -------------------------------------------------footer------------*/

footer {
    height: 100px;
    clear: both;
  }
  
  .social-networks {
    text-align: center;
  }
  
  .social-networks li {
    display: inline;
  }
  
  .social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 10px;
    color: var(--grey);
  }

  .social-networks i:hover {
    opacity: 0.8;
  }

  .copyright {
    font-family: sans-serif;
    font-weight: 100;
    font-size: 10px;
    color:var(--grey);
    text-align: center;
    margin-top: -10;
  }

  /* -------------------------------------------------media queries------------*/

  /* to make contact button centre screen on smaller devices */

  @media only screen and (max-width: 600px){
    .btn {
        width: 90%;
    }
  }